Screen {
    layout: grid;
    grid-size: 4 10;
}

#two {
    column-span: 2;
    tint: magenta 40%;
}

TextScrollView {
    height: 200%;
    border: solid green;
    column-span: 2;
    row-span: 5;
}

#diff-frames1, #diff-frames2, #diff-area1, #diff-area2, #base-command-bar, #regressed-command-bar {
    column-span: 2;
}

#parallel-command-bar {
    column-span: 4;
}