Screen {
    layout: vertical;
    height: 100%;
}

TextScrollView {
    border: solid green;
}

.row1 {
    height: 20%;
}

.row2 {
    height: 30%;
}

.diff-asm-reg {
    height: 10%;
}

.row3, .row5 {
    height: 6%;
}

.row4 {
    height: 40%;
}
